<div class="create-form">
    <p style="font-size:30px; font-style:italic; margin-bottom:30px">Creating New Pond</p>
  <form method="POST" action="/ponds/store">
    <div class="form-group">
      <label for="PondName">Pond Name</label>
      <input
        type="text"
        class="form-control"
        id="PondName"
        name="PondName"
      />
    </div>
    <div class="form-group">
      <label for="Type">Shrimp Type</label>
      <input
        type="text"
        class="form-control"
        id="Type"
        name="Type"
      />
    </div>
    <div class="form-group">
      <label for="Population">Population</label>
      <input
        type="text"
        class="form-control"
        id="Population"
        name="Population"
      />
    </div>
    <div class="form-group">
      <label for="Area">Area</label>
      <input
        type="text"
        class="form-control"
        id="Area"
        name="Area"
      />
    </div>
    <div class="form-group">
      <label for="Depth">Depth</label>
      <input
        type="text"
        class="form-control"
        id="Depth"
        name="Depth"
      />
    </div>
    <div class="form-group">
      <label for="Watertype">Watertype</label>
      <input
        type="text"
        class="form-control"
        id="Watertype"
        name="Watertype"
      />
    </div>
    <div class="form-group">
      <label for="Volume">Volume</label>
      <input
        type="text"
        class="form-control"
        id="Volume"
        name="Volume"
      />
    </div>
    <div class="form-group">
      <label for="UpperECLimit">UpperECLimit</label>
      <input
        type="text"
        class="form-control"
        id="UpperECLimit"
        name="UpperECLimit"
      />
    </div>
    <div class="form-group">
      <label for="UnderECLimit">UnderECLimit</label>
      <input
        type="text"
        class="form-control"
        id="UnderECLimit"
        name="UnderECLimit"
      />
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
  </form>
</div>