<div class="sidebar-navigation">
  <div class="app-icon">
    <img style="width:60%" src="/img/logo.jpg" />
  </div>
  {{!-- <div class="btn-group-vertical navigations">
    <a href="/" class="btn btn-secondary btn-navigation">Home</a>
    <a href="/me/stored/ponds" class="btn btn-secondary btn-navigation">Pond(s) Configuration</a>
    <a href="/ponds/create" class="btn btn-secondary btn-navigation">Create Pond</a>
    <a href="/" class="btn btn-secondary btn-navigation">Set Limits</a>
  </div> --}}
</div>