<div class="mt-4">
    <form>
        <div class="form-group">
            <label for="Search">Search</label>
            <input type="text" name="q" class="form-control" id="search-put" placeholder="Search" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>