<div class="login-page">
  <div class="form" method="POST" action="user/store">
    <h2>Signup</h2>
    <form class="register-form2">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <button>create</button>
      <p class="message">Already registered? <a href="/">Sign In</a></p>
    </form>
  </div>
</div>